body {
width: 100%;
height: 100%;
margin: 0 auto;
}

ul{
padding: 0px!important;
}

    .default-menu{  /*barra superior do site*/
    width: 100%;
    background-color: #3a3732;  
    height: 55px;

    }

        .start {
        float: left;
        padding: 10px;  /*casinha*/
        width: 60%;
        }

        .nome-professor {
        width: 30%;
        float: right;   /*nome do professor*/
        padding: 20px;
        }

    main {
    
    margin: 0 auto;
    width: 1200px;
    position: relative;
    }
        .col{
            width: 100%;
            float: left;
            position: relative;
        }

        .urls{
            height: 55px;
            border-bottom: 3px solid #efefef;
        }


            .header-2 {
            background-color: #ffffff;
            width: 980px;
            margin: 0 auto;
            padding: 2px;
            }

        .menu {
            width: 80%;
            float: left;
        }
            .menu ul li {
            display: inline-block;  /*alinha os li's do menu*/
            color: #8b8b8b; 
            margin-left: 15px;  
            }
            .menu ul li a { 
                color: #8b8b8b;
                text-decoration: none;
                font-size: 13px;
                text-transform: uppercase;
            }
            .menu ul li:hover{
                height: 35px;
                border-bottom: 2px solid #df4d40;   /*muda a cor da barrinha abaixo das opcoes de menu*/
            }
            .menu ul li a:hover {
                color: #df4d40;         /*muda a cor da fonte do menu*/

            }


         .busca {   /*define a localizacao do input*/
        text-align: center;
        width: 20%;
        float: right;
        }
            .busca input{       /*operacoes no input*/
            background-image: url(../img/searchButton.png);
            background-repeat: no-repeat;
            background-position: 95%;
            height: 35px;
            margin-top: 10px;           
            width: 190px;
            padding: 10px;
            border: 1px solid #d6d6d6;
            }

