<html>
    <head>
        <link rel="stylesheet" type="text/css" href="./stylesheets/main.css">
        <title>Projeto Haken </title>
        
    </head>

    <body>
         <header class="default-menu">
            <main>
                <div class="header-1">

            
                <div class="start">
                <img src="./images/start.png" width="40" height="36"/>
                </div>
                     <div class="nome-professor">
                                <img src="./images/nomeProf.png" width="170" height="28"/>               
                     </div>
                </div>
            </main>
        </header> 
        <main class="col urls">
            <div class="header-2">
                <div class="menu"> 
                    <ul>
                        <li>
                            <a href="/">Pagina Inicial</a>
                        </li>
                        <li>
                            <a href="enviarRedacao">Enviar Redacao</a>
                        </li>
                        <li>
                            <a href="redacoesCorrigidas">Redações Corrigidas</a>
                        </li>
                        <li>
                            <a href="areaProfessor">Área do Professor</a>
                        </li>
                    </ul>
                </div>
            </div>
        </main>
        <div class="contador">
                <h4>PRAZO DE SUBMISSÃO:</h4>
                 <p id="demo"></p>
                 <h3>TEMA: INFRAESTRUTURA</h3>
            </div>
        <div class="container-slide">
            <div class="slider">
                <img class="slide" src="./images/slider/slide1.jpg" />
                <img class="slide" src="./images/slider/slide2.jpg" />
                <img class="slide" src="./images/slider/slide3.jpg" />
                <img class="slide" src="./images/slider/slide4.jpg" />
                <img class="slide" src="./images/slider/slide5.jpg" />
            </div>
        </div>

        <div class="col-100"style="height: 1000px;">
            <div class="redacoes">
                <br>
                    <h2>Redações corrigidas</h2>
                    <div class="coluna-1">
                        <ul>
                            <li>
                                <a href="redacao"> <img src="./images/redacao1.jpg" alt="Titulo da redação"style=" width: 255px;height: 380px;"></a>
                                <h2>Infraestrutura</h2>                               
                            </li>
                             <li>
                                <a href="redacao"> <img src="./images/redacao1.jpg" alt="Titulo da redação"style=" width: 255px;height: 380px;"></a>
                                <h2>Mobilidade Urbana</h2> 
                            </li>
                             <li>
                                <a href="redacao"> <img src="./images/redacao1.jpg" alt="Titulo da redação"style=" width: 255px;height: 380px;"></a>
                                <h2>Segurança</h2> 
                            </li>
                        </ul>
                        <div class="coluna-2"style="height: 420px;">
                                <ul>
                                    <li>
                                        <a href="redacao"> <img src="./images/redacao1.jpg" alt="Titulo da redação"style=" width: 285px;height: 420px;"></a>
                                        <h2>Saude Publica</h2> 
                                    </li>
                                     <li>
                                        <a href="redacao"> <img src="./images/redacao1.jpg" alt="Titulo da redação"style=" width: 285px;height: 420px;"></a>
                                        <h2>Tecnologia</h2> 
                                    </li>
                                     <li>
                                        <a href="redacao"> <img src="./images/redacao1.jpg" alt="Titulo da redação"style=" width: 285px;height: 420px;"></a>
                                        <h2>Liberdade Expressao</h2> 
                                    </li>
                                </ul>
        
                                </div>                   
                    </div>
            </div>
        </div>  
        <div class="ver-mais"style="height: 20px;width: 330;">
            <ul>
                <a href="redacoesCorrigidas"><h2>Ver mais...</h2></a>
            </ul>
            </div> 
    </body>
<script>
var countDownDate = new Date("May 4, 2019 15:37:25").getTime();

var x = setInterval(function() {
  var now = new Date().getTime();
  var distance = countDownDate - now;
    
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    
  // Output the result in an element with id="demo"
  document.getElementById("demo").innerHTML = days + "D " + hours + "H "
  + minutes + "M " + seconds + "S ";
    
  // If the count down is over, write some text 
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("demo").innerHTML = "EXPIRED";
  }
}, 1000);
</script>
</script>

</html>