<html>
    <head>
        <link rel="stylesheet" type="text/css" href="./stylesheets/main.css">
        <title> Projeto BD </title>
        
    </head>

    <body>
        <header class="default-menu">
            <main>
                <div class="header-1">

            
                <div class="start">
                <img src="./images/start.png" width="40" height="36"/>
                </div>
                     <div class="nome-professor">
                        <img src="./images/nomeSite.png" width="125" height="28"/>              
                     </div>
                </div>
            </main>
        </header>
        <main class="col urls">
            <div class="header-2">
                <div class="menu"> 
                    <ul>
                        <li>
                            <a href="/">Pagina Inicial</a>
                        </li>
                        <li>
                            <a href="redacoesCorrigidas">Redações</a>
                        </li>
                        <li>
                            <a href="areaProfessor">Login</a>
                        </li>
                        <li>
                            <a href="enviarRedacao">Registrar-se</a>
                        </li>
                    </ul>
                </div>
            </div>
        </main>
        <div class="col-100">
            <div class="botoes-prof">
                <ul>
                        <a href="redacoesRecebidas"><button>ENVIAR REDACÃO </button></a> 
                        <a href="redacoesPostadas"><button>EDITAR REDACOES POSTADAS</button></a>
                        <a href="redacaoEdit"><button>MINHAS REDAÇÕES</button></a> 
 
                </ul>   
            </div>
        </div>
</html>