<html>
    <head>
        <link rel="stylesheet" type="text/css" href="./stylesheets/main.css">
        <title>Projeto Haken </title>
        
    </head>

    <body>
        <header class="default-menu">
            <main>
                <div class="header-1">

            
                <div class="start">
                <img src="./images/start.png" width="40" height="36"/>
                </div>
                     <div class="nome-professor">
                                <img src="./images/nomeProf.png" width="170" height="28"/>               
                     </div>
                </div>
            </main>
        </header>
        <main class="col urls">
            <div class="header-2">
                <div class="menu"> 
                    <ul>
                        <li>
                            <a href="/">Pagina Inicial</a>
                        </li>
                        <li>
                            <a href="enviarRedacao">Enviar Redacao</a>
                        </li>
                        <li>
                            <a href="redacoesCorrigidas">Redações Corrigidas</a>
                        </li>
                        <li>
                            <a href="areaProfessor">Área do Professor</a>
                        </li>
                    </ul>
                </div>
            </div>
        </main>
        <div class="tema-redacao">
            <h2>Tema</h2>
            <br>
            <p >aaaaaaa</p>
        </div>
        <div class="titulo-redacao">
            <h2>Titulo</h2>
            <br>
            <p>ddddddddd</p>
        </div>
        <div class="redacao-aluno">
            <h2>Redação</h2>
            <br>
            <img src="./images/redacao1.jpg">
        </div>
        <div class="redacao-corrigida">
            <h2>Redação corrigida</h2>
            <br>
            <p>cccccccc</p>
        </div>
</html>