<html>
    <head>
        <link rel="stylesheet" type="text/css" href="./stylesheets/main.css">
        <title>Projeto Haken </title>
        
    </head>

    <body>
        <header class="default-menu">
            <main>
                <div class="header-1">

            
                <div class="start">
                <img src="./images/start.png" width="40" height="36"/>
                </div>
                     <div class="nome-professor">
                                <img src="./images/nomeProf.png" width="170" height="28"/>               
                     </div>
                </div>
            </main>
        </header>
        <main class="col urls">
            <div class="header-2">
                <div class="menu"> 
                    <ul>
                        <li>
                            <a href="/">Pagina Inicial</a>
                        </li>
                        <li>
                            <a href="enviarRedacao">Enviar Redacao</a>
                        </li>
                        <li>
                            <a href="redacoesCorrigidas">Redações Corrigidas</a>
                        </li>
                        <li>
                            <a href="areaProfessor">Área do Professor</a>
                        </li>
                    </ul>
                </div>
            </div>
        </main>
        <div class="redacao-recebida">
            <div class="nome-redacao">
                <h4>NOME:</h4>
                <p >matheus</p>
            </div>
            <div class="email-redacao">
                <h4>E-MAIL</h4>
                <p>matheus123@hotmail.com</p>
            </div>
            <div class="titulo-redacao">
                <h4>TITULO</h4>
                <p>posto inexistente</p>
            </div>
            <div class="tema-redacao">
                <h4>TEMA</h4>
                <p>Saude Publica</p>
            </div>
            <div class="arquivo-redacao">
                <h4>ARQUIVO:</h4>
                <br> <br> <br><br>
            </div>
        </div>
        <div class="redacao-recebida">
            <div class="nome-redacao">
                <h4>NOME:</h4>
                <p >tiago</p>
            </div>
            <div class="email-redacao">
                <h4>E-MAIL</h4>
                <p>tiago1322@gmail.com</p>
            </div>
            <div class="titulo-redacao">
                <h4>TITULO</h4>
                <p>mascara sufocante</p>
            </div>
            <div class="tema-redacao">
                <h4>TEMA</h4>
                <p>Liberdade de expressao</p>
            </div>
            <div class="arquivo-redacao">
                <h4>ARQUIVO:</h4>
                <br> <br> <br><br>
            </div>
        </div>
        <div class="redacao-recebida">
            <div class="nome-redacao">
                <h4>NOME:</h4>
                <p >alberto</p>
            </div>
            <div class="email-redacao">
                <h4>E-MAIL</h4>
                <p>bbbb3454@gmail.com</p>
            </div>
            <div class="titulo-redacao">
                <h4>TITULO</h4>
                <p>bla bla</p>
            </div>
            <div class="tema-redacao">
                <h4>TEMA</h4>
                <p>Tecnologia</p>
            </div>
            <div class="arquivo-redacao">
                <h4>ARQUIVO:</h4>
                <br> <br> <br><br>
            </div>
        </div>
        <div class="redacao-recebida">
            <div class="nome-redacao">
                <h4>NOME:</h4>
                <p >Joao</p>
            </div>
            <div class="email-redacao">
                <h4>E-MAIL</h4>
                <p>joao123@gmail.com</p>
            </div>
            <div class="titulo-redacao">
                <h4>TITULO</h4>
                <p>Ruas da amargura</p>
            </div>
            <div class="tema-redacao">
                <h4>TEMA</h4>
                <p>Infraestrutura</p>
            </div>
            <div class="arquivo-redacao">
                <h4>ARQUIVO:</h4>
                <br> <br> <br><br>
            </div>
        </div>
</html>