<html>
    <head>
        <link rel="stylesheet" type="text/css" href="./stylesheets/main.css">
        <title>Projeto Haken </title>
        
    </head>

    <body>
         <header class="default-menu">
            <main>
                <div class="header-1">

            
                <div class="start">
                <img src="./images/start.png" width="40" height="36"/>
                </div>
                     <div class="nome-professor">
                                <img src="./images/nomeProf.png" width="170" height="28"/>               
                     </div>
                </div>
            </main>
        </header> 
        <main class="col urls">
            <div class="header-2">
                <div class="menu"> 
                    <ul>
                        <li>
                            <a href="/">Pagina Inicial</a>
                        </li>
                        <li>
                            <a href="enviarRedacao">Enviar Redacao</a>
                        </li>
                        <li>
                            <a href="">Redações Corrigidas</a>
                        </li>
                        <li>
                            <a href="">Área do Professor</a>
                        </li>
                    </ul>
                </div>
            </div>
        </main>
        <div class="col-100"style="height: 180px;">
            <div class="redacoes-1">
                    <h2>Redações corrigidas</h2>
            </div>
            <div class="filtro">
                    <h3>Filtrar por:</h3>
                    <div class="tema">
                            <button onclick="myFunction()" class="dropbtn">Tema</button>
                            <div id="myDropdown" class="tema-content">
                              <a href="#mobilidadeUrbana">Mobilidade Urbana</a>
                              <a href="#segurança">Segurança</a>
                              <a href="#saudePublica">Saude Publica</a>
                              <a href="#tecnologia">Tecnologia</a>
                              <a href="#liberdadeDeExpressao">Liberdade de Expressao</a>
                              <a href="#infraestrutura">Infraestrutura</a>
                            </div>
                          </div>
            </div>
        </div>
        <div class="col-100"style="height: 1000px;">
                <div class="redacoes">
                    <br>
                        <div class="coluna-1">
                            <ul>
                                <li>
                                    <a href=""> <img src="./images/redacao1.jpg" alt="Titulo da redação"style=" width: 255px;height: 380px;"></a>
                                    <h2>TEMA</h2>                               
                                </li>
                                 <li>
                                    <a href=""> <img src="./images/redacao1.jpg" alt="Titulo da redação"style=" width: 255px;height: 380px;"></a>
                                    <h2>TEMA</h2> 
                                </li>
                                 <li>
                                    <a href=""> <img src="./images/redacao1.jpg" alt="Titulo da redação"style=" width: 255px;height: 380px;"></a>
                                    <h2>TEMA</h2> 
                                </li>
                            </ul>
                            <div class="coluna-2"style="height: 420px;">
                                    <ul>
                                        <li>
                                            <a href=""> <img src="./images/redacao1.jpg" alt="Titulo da redação"style=" width: 285px;height: 420px;"></a>
                                            <h2>TEMA</h2> 
                                        </li>
                                         <li>
                                            <a href=""> <img src="./images/redacao1.jpg" alt="Titulo da redação"style=" width: 285px;height: 420px;"></a>
                                            <h2>TEMA</h2> 
                                        </li>
                                         <li>
                                            <a href=""> <img src="./images/redacao1.jpg" alt="Titulo da redação"style=" width: 285px;height: 420px;"></a>
                                            <h2>TEMA</h2> 
                                        </li>
                                    </ul>
            
                                    </div>  
                                    <div class="coluna-2"style="height: 420px;">
                                            <ul>
                                                <li>
                                                    <a href=""> <img src="./images/redacao1.jpg" alt="Titulo da redação"style=" width: 285px;height: 420px;"></a>
                                                    <h2>TEMA</h2> 
                                                </li>
                                                 <li>
                                                    <a href=""> <img src="./images/redacao1.jpg" alt="Titulo da redação"style=" width: 285px;height: 420px;"></a>
                                                    <h2>TEMA</h2> 
                                                </li>
                                                 <li>
                                                    <a href=""> <img src="./images/redacao1.jpg" alt="Titulo da redação"style=" width: 285px;height: 420px;"></a>
                                                    <h2>TEMA</h2> 
                                                </li>
                                            </ul>
                    
                                            </div>    
                                            <div class="coluna-2"style="height: 420px;">
                                            <ul>
                                                <li>
                                                    <a href=""> <img src="./images/redacao1.jpg" alt="Titulo da redação"style=" width: 285px;height: 420px;"></a>
                                                    <h2>TEMA</h2> 
                                                </li>
                                                 <li>
                                                    <a href=""> <img src="./images/redacao1.jpg" alt="Titulo da redação"style=" width: 285px;height: 420px;"></a>
                                                    <h2>TEMA</h2> 
                                                </li>
                                                 <li>
                                                    <a href=""> <img src="./images/redacao1.jpg" alt="Titulo da redação"style=" width: 285px;height: 420px;"></a>
                                                    <h2>TEMA</h2> 
                                                </li>
                                            </ul>
                    
                                            </div>   
                                            <div class="coluna-2"style="height: 420px;">
                                            <ul>
                                                <li>
                                                    <a href=""> <img src="./images/redacao1.jpg" alt="Titulo da redação"style=" width: 285px;height: 420px;"></a>
                                                    <h2>TEMA</h2> 
                                                </li>
                                                 <li>
                                                    <a href=""> <img src="./images/redacao1.jpg" alt="Titulo da redação"style=" width: 285px;height: 420px;"></a>
                                                    <h2>TEMA</h2> 
                                                </li>
                                                 <li>
                                                    <a href=""> <img src="./images/redacao1.jpg" alt="Titulo da redação"style=" width: 285px;height: 420px;"></a>
                                                    <h2>TEMA</h2> 
                                                </li>
                                            </ul>
                    
                                            </div>   
                                            <div class="coluna-2"style="height: 420px;">
                                            <ul>
                                                <li>
                                                    <a href=""> <img src="./images/redacao1.jpg" alt="Titulo da redação"style=" width: 285px;height: 420px;"></a>
                                                    <h2>TEMA</h2> 
                                                </li>
                                                 <li>
                                                    <a href=""> <img src="./images/redacao1.jpg" alt="Titulo da redação"style=" width: 285px;height: 420px;"></a>
                                                    <h2>TEMA</h2> 
                                                </li>
                                                 <li>
                                                    <a href=""> <img src="./images/redacao1.jpg" alt="Titulo da redação"style=" width: 285px;height: 420px;"></a>
                                                    <h2>TEMA</h2> 
                                                </li>
                                            </ul>
                    
                                            </div>                
                        </div>
                </div>
        <script>
            
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

        function filterFunction() {
  var  filter, ul, li, a, i;

  div = document.getElementById("myDropdown");
  a = div.getElementsByTagName("a");
  for (i = 0; i < a.length; i++) {
    txtValue = a[i].textContent || a[i].innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      a[i].style.display = "";
    } else {
      a[i].style.display = "none";
    }
  }
}

        </script>
</html>