<html>
    <head>
        <link rel="stylesheet" type="text/css" href="./stylesheets/main.css">
        <title> Projeto BD </title>
        
    </head>

    <body>
         <header class="default-menu">
            <main>
                <div class="header-1">

            
                <div class="start">
                <img src="./images/start.png" width="40" height="36"/>
                </div>
                     <div class="nome-professor">
                        <img src="./images/nomeSite.png" width="125" height="28"/>                         </div>
                </div>
            </main>
        </header> 
        <main class="col urls">
            <div class="header-2">
                <div class="menu"> 
                    <ul>
                        <li>
                            <a href="/">Pagina Inicial</a>
                        </li>
                        <li>
                            <a href="redacoesCorrigidas">Redações</a>
                        </li>
                        <li>
                            <a href="areaAluno">Login</a>
                        </li>
                        <li>
                            <a href="registro">Registrar-se</a>
                        </li>
                    </ul>
                </div>
            </div>
        </main>
        <div class="col-100"style="height: 180px;">
            <div class="redacoes-1">
                    <h2>Redações</h2>
            </div>

        </div>
        <div class="col-100"style="height: 1000px;">
                <div class="redacoes">
                    <br>
                        <div class="coluna-1">
                            <ul>
                                <li>
                                    <a href="redacao"> <img src="./images/redacao1.jpg" alt="Titulo da redação"style=" width: 255px;height: 380px;"></a>
                             
                                </li>
                                 <li>
                                    <a href="redacao"> <img src="./images/redacao1.jpg" alt="Titulo da redação"style=" width: 255px;height: 380px;"></a>
                                </li>
                                 <li>
                                    <a href="redacao"> <img src="./images/redacao1.jpg" alt="Titulo da redação"style=" width: 255px;height: 380px;"></a>
                                </li>
                            </ul>
                            <div class="coluna-2"style="height: 420px;">
                                    <ul>
                                        <li>
                                            <a href="redacao"> <img src="./images/redacao1.jpg" alt="Titulo da redação"style=" width: 285px;height: 420px;"></a>
                                        </li>
                                         <li>
                                            <a href="redacao"> <img src="./images/redacao1.jpg" alt="Titulo da redação"style=" width: 285px;height: 420px;"></a>
                                        </li>
                                         <li>
                                            <a href="redacao"> <img src="./images/redacao1.jpg" alt="Titulo da redação"style=" width: 285px;height: 420px;"></a>
                                        </li>
                                    </ul>
            
                                    </div>  
                                    <div class="coluna-2"style="height: 420px;">
                                            <ul>
                                                <li>
                                                    <a href="redacao"> <img src="./images/redacao1.jpg" alt="Titulo da redação"style=" width: 285px;height: 420px;"></a>
                                                </li>
                                                 <li>
                                                    <a href="redacao"> <img src="./images/redacao1.jpg" alt="Titulo da redação"style=" width: 285px;height: 420px;"></a>
                                                </li>
                                                 <li>
                                                    <a href="redacao"> <img src="./images/redacao1.jpg" alt="Titulo da redação"style=" width: 285px;height: 420px;"></a>
                                                </li>
                                            </ul>
                    
                                            </div>    
                                            <div class="coluna-2"style="height: 420px;">
                                            <ul>
                                                <li>
                                                    <a href="redacao"> <img src="./images/redacao1.jpg" alt="Titulo da redação"style=" width: 285px;height: 420px;"></a>
                                                </li>
                                                 <li>
                                                    <a href="redacao"> <img src="./images/redacao1.jpg" alt="Titulo da redação"style=" width: 285px;height: 420px;"></a>
                                                </li>
                                                 <li>
                                                    <a href="redacao"> <img src="./images/redacao1.jpg" alt="Titulo da redação"style=" width: 285px;height: 420px;"></a>
                                                </li>
                                            </ul>
                    
                                            </div>   
                                            <div class="coluna-2"style="height: 420px;">
                                            <ul>
                                                <li>
                                                    <a href="redacao"> <img src="./images/redacao1.jpg" alt="Titulo da redação"style=" width: 285px;height: 420px;"></a>
                                                </li>
                                                 <li>
                                                    <a href="redacao"> <img src="./images/redacao1.jpg" alt="Titulo da redação"style=" width: 285px;height: 420px;"></a>
                                                </li>
                                                 <li>
                                                    <a href="redacao"> <img src="./images/redacao1.jpg" alt="Titulo da redação"style=" width: 285px;height: 420px;"></a>
                                                </li>
                                            </ul>
                    
                                            </div>   
                                            <div class="coluna-2"style="height: 420px;">
                                            <ul>
                                                <li>
                                                    <a href="redacao"> <img src="./images/redacao1.jpg" alt="Titulo da redação"style=" width: 285px;height: 420px;"></a>
                                                </li>
                                                 <li>
                                                    <a href="redacao"> <img src="./images/redacao1.jpg" alt="Titulo da redação"style=" width: 285px;height: 420px;"></a>
                                                </li>
                                                 <li>
                                                    <a href="redacao"> <img src="./images/redacao1.jpg" alt="Titulo da redação"style=" width: 285px;height: 420px;"></a>
                                                </li>
                                            </ul>
                    
                                            </div>                
                        </div>
                </div>
        <script>
            
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

        function filterFunction() {
  var  filter, ul, li, a, i;

  div = document.getElementById("myDropdown");
  a = div.getElementsByTagName("a");
  for (i = 0; i < a.length; i++) {
    txtValue = a[i].textContent || a[i].innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      a[i].style.display = "";
    } else {
      a[i].style.display = "none";
    }
  }
}

        </script>
</html>