<html>
    <head>
        <link rel="stylesheet" type="text/css" href="./stylesheets/main.css">
        <title> Projeto BD </title>
        
    </head>

    <body>
        <header class="default-menu">
            <main>
                <div class="header-1">

            
                <div class="start">
                <img src="./images/start.png" width="40" height="36"/>
                </div>
                     <div class="nome-professor">
                                <img src="./images/nomeSite.png" width="125" height="28"/>               
                     </div>
                </div>
            </main>
        </header>
        <main class="col urls">
            <div class="header-2">
                <div class="menu"> 
                    <ul>
                        <li>
                            <a href="/">Pagina Inicial</a>
                        </li>
                        <li>
                            <a href="redacoesCorrigidas">Redações</a>
                        </li>
                        <li>
                            <a href="areaAluno">Login</a>
                        </li>
                        <li>
                            <a href="registro">Registrar-se</a>
                        </li>
                    </ul>
                </div>
            </div>
        </main>
        <div class="col-100">
            <div class="inputs-redacao">
                <ul>
                    <li>
                        <a>Login: </a>
                        <input type="text">
                    </li>
                    <li>
                        <a>Email: </a>
                        <input type="text">
                    </li>
                    <li>
                        <a>Senha: </a>
                        <input type="text">
                    </li>
                </ul>
            </div>
                <div class="enviar-redacao" style=" width: 1349; height: 100px;">
                     <a href=""><button>REGISTRAR</button></a>               
                </div>
        </div>
    </body>
</html>