body {
width: 100%;
height: 100%;
margin: 0 auto;
}

ul{
padding: 0px!important;
}

    .default-menu{  /*barra superior do site*/
    width: 100%;
    background-color: #3a3732;
    height: 55px;

    }

        .start {
        float: left;
        padding: 10px;  /*casinha*/
        width: 60%;
        }

        .nome-professor {
        width: 30%;
        float: right;   /*nome do professor*/
        padding: 20px;
        }

    main {

    margin: 0 auto;
    width: 1200px;
    position: relative;
    }
        .col{
            width: 100%;
            float: left;
            position: relative;
        }

        .urls{
            height: 55px;
            border-bottom: 3px solid #efefef;
        }


            .header-2 {
            background-color: #ffffff;
            width: 980px;
            margin: 0 auto;
            padding: 2px;
            }

        .menu {
            width: 100%;
            float: left;
        }
            .menu ul li {
            display: inline-block;  /*alinha os li's do menu*/
            color: #8b8b8b;
            margin-left: 140px;
            }
            .menu ul li a {
                color: #8b8b8b;
                text-decoration: none;
                font-size: 13px;
                text-transform: uppercase;
            }
            .menu ul li:hover{
                height: 35px;
                border-bottom: 2px solid #df4d40;   /*muda a cor da barrinha abaixo das opcoes de menu*/
            }
            .menu ul li a:hover {
                color: #df4d40;         /*muda a cor da fonte do menu*/

            }
            .container-slide{
              width: 100%;
              height: 700px;
          
            }
            .slider { 
              float: left;
              position: relative;
              width: 1349px;
              height: 639px;
         }
         .slider img {
          position: absolute;
          overflow: hidden;
          opacity: 0;
          width: 100%;
          height: 100%;
          animation-name: animacao;
          animation-duration: 25s;
          animation-iteration-count: infinite;
        }

        @keyframes animacao{

          25%{
            opacity: 1;
            transform: scale(1.0,1.0);
          }
          50%{
            opacity: 0;
          }
        }
        .slide:nth-child(2){
          animation-delay: 5s;
        }
        .slide:nth-child(3){
          animation-delay: 10s;
        }
        .slide:nth-child(4){
          animation-delay: 15s;
        }
        .slide:nth-child(5){
          animation-delay: 20s;
        }
          .redacoes{
            color: #930000;
            text-decoration: none;
            font-size: 15px;
            margin: 50px;
            font-family: "Roboto",Arial,sans-serif;
            font-weight: normal;
            line-height: 2.2rem;
        
          }
          .coluna-1 ul li h2{
            position: relative;
            left: 0%;
            right: 5%;
            bottom: 100%;
            z-index: 10;
            color: rgb(44, 38, 48) ;
            text-align: center;
            font-weight: bold;
            font-size: 20px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
          }
          .coluna-1{
            position: relative;
            width: 75%;
            height: 100%;
          }
          .contador{
            font-family: "Roboto",Arial,sans-serif;
            font-weight: normal;
            color: #3a3732;
            margin-block-start: 71px;
          }
          .contador h4{
            float: left;
            width: 30%;
          }
          .contador h3{
            width: 20%;
            float: right;
            margin-top: -15px;
          }
          .contador p{
            float: center;
            text-align: center;
            font-size:40px;
            width: 30%;
            height: 30px;
            margin: 1px auto;
            margin-block-start: 0px;
          }
          .coluna-1 ul li{
            display: inline-block;
            margin-left: 40px;
            width: 255;
            height: 380;
          }
          .coluna-1 ul li a{
            width: 255;
            height: 380;
            overflow: hidden;
          }
          .coluna-1 ul li a img{
            max-width: 100%;
            -moz-transition: all 0.3s;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;            
          }        
          .coluna-1 ul li a:hover img{
            -moz-transform: scale(1.1);
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
          }
          .coluna-2 ul li{
            display: inline-block;
            margin-left: 40px;
            width: 255;
            height: 380;
          }
          .coluna-2{
            width: 100%;
            height: 100%;
            margin-block-end: 80px;
          }
          .coluna-2 ul li h2{
            position: relative;
            left: 0%;
            right: 5%;
            bottom: 110%;
            z-index: 10;
            color: rgb(44, 38, 48) ;
            text-align: center;
            font-weight: bold;
            font-size: 20px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
          }
          .ver-mais{
            width: 100%;
            height: 100%;
            float: right;
            margin: 0 auto;
          }
          .ver-mais h2{
            font-family: 'Courier New', Courier, monospace;
            font-size: 18px;
          }
          .ver-mais ul{
            width: 120px;
          }
          .col-100{
            width: 100%;
            height: 100%;
          }
          .inputs-redacao { 
            text-align: center;
            width: 100%;
            height: 400px;
            margin: 0 auto;
            }
                .inputs-redacao input{   
                background-repeat: no-repeat;
                background-position: 85%;
                height: 30px;
                margin-top: 60px;
                width: 400px;
                padding: 10px;
                border: 2px solid #d6d6d6;
                }
                .inputs-redacao ul li{
                  text-align: center;
                  text-decoration: none;
                }
                   .inputs-redacao ul li a {
                  color: #8b8b8b;
                  font-size: 17px;
                  text-transform: uppercase;
                  }
                  .input-arquivo{
                    text-align: right;
                    width: 72%;
                    height: 150px;
                    margin: -100px;    
                    color: #8b8b8b;
                    font-size: 17px;
                    text-transform: uppercase;        
                  }
                     .input-arquivo ul li a {
                    color: #8b8b8b;
                    font-size: 17px;
                    text-transform: uppercase;
                    }
            .enviar-redacao{
              text-align: center;
              width: 100%;
              margin: 0 auto;
              margin-left: 90px;
            }
            .enviar-redacao button{
                background-color: #df4d40;
                border: none;
                color: white;
                padding: 20px 35px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
            }
            .tema-select{
              margin: 5px;
              margin-block-start: 20px;
              float: center;
              width: 99%;
            }

            .redacoes-1{
              color: #930000;
              text-decoration: none;
              font-size: 15px;
              margin: 50px;
              font-family: "Roboto",Arial,sans-serif;
              font-weight: normal;
              line-height: 0.2rem;
              width: 40%;
              float: left;
            }
            .filtro{
              width: 50%;
              height: 100%;
              float: right;
              line-height: 7rem;
            }
            .filtro h3{
              color: #930000;
              font-family: "Roboto",Arial,sans-serif;
              float: left;
            }
            .filtro select{
              margin: 68px;
            }

            .dropbtn {
              background-color: #930000;
              color: white;
              padding: 10px;
              font-size: 16px;
              border: none;
              cursor: pointer;
              margin-block-start: 55px;
              margin-left: 10px;
            }
            
            /* Dropdown button on hover & focus */
            .dropbtn:hover, .dropbtn:focus {
              background-color: #df4d40;
            }

            
            /* The container <div> - needed to position the dropdown content */
            .tema {
              position: relative;
              display: inline-block;
              
            }
            
            /* Dropdown Content (Hidden by Default) */
            .tema-content {
              display: none;
              position: absolute;
              background-color: #f6f6f6;
              min-width: 190px;
              max-width: 300px;
              border: 1px solid #ddd;
              z-index: 1;
            }
            
            /* Links inside the dropdown */
            .tema-content a {
              color: black;
              padding: 2px 11px;
              text-decoration: none;
              display: block;
              line-height: 35px;
              height: 30px;
            }
            
            /* Change color of dropdown links on hover */
            .tema-content a:hover {background-color: #f1f1f1}
            
         
            .show {
              display:block;
            }
            .tema-content show{
              height: 100px;
            }

            .login-prof{
              text-align: center;
              width: 100%;
              margin: 0 auto;
            }
            .login-prof button{
                background-color: #df4d40;
                border: none;
                color: white;
                padding: 20px 35px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
            }
            .inputs-prof { 
              text-align: center;
              width: 100%;
              height: 580px;
              margin: 0 auto;
              }
                  .inputs-prof input{   
                  background-repeat: no-repeat;
                  background-position: 85%;
                  height: 30px;
                  margin-top: 60px;
                  width: 400px;
                  padding: 10px;
                  border: 2px solid #d6d6d6;
                  }
                  .inputs-prof ul li{
                    text-align: center;
                    text-decoration: none;
                  }
                     .inputs-prof ul li a {
                    color: #8b8b8b;
                    font-size: 17px;
                    text-transform: uppercase;
                    }

                    .tema-redacao {
                      color: #000;
                      text-decoration: none;
                      font-size: 15px;
                      margin-block-start: 50px;
                      margin-block-end: 50px;
                      margin-left: 60px;
                      font-family: "Roboto",Arial,sans-serif;
                      font-weight: normal;
                      line-height: 0.2rem;
                      width: 1000px;
                      float: left;
                    }
                    .titulo-redacao {
                      color: #000;
                      text-decoration: none;
                      font-size: 15px;
                      margin-block-start: 50px;
                      margin-block-end: 50px;
                      margin-left: 60px;
                      font-family: "Roboto",Arial,sans-serif;
                      font-weight: normal;
                      line-height: 0.2rem;
                      width: 1000px;
                      float: left;
                    }
                    .redacao-aluno {
                        color: #000;
                        text-decoration: none;
                        font-size: 15px;
                        margin-block-start: 50px;
                        margin-block-end: 50px;
                        margin-left: 60px;
                        font-family: "Roboto",Arial,sans-serif;
                        font-weight: normal;
                        line-height: 0.2rem;
                        width: 1000px;
                        float: left;
                    }
                    .redacao-corrigida {
                      color: #000;
                      text-decoration: none;
                      font-size: 15px;
                      margin-block-start: 50px;
                      margin-block-end: 50px;
                      margin-left: 60px;
                      font-family: "Roboto",Arial,sans-serif;
                      font-weight: normal;
                      line-height: 0.2rem;
                      width: 1000px;
                      float: left;
                    }
                    .botoes-prof{
                      margin-left: 50px;
                      margin-top: 100px;
                    }
                    .botoes-prof button{
                      background-color: #df4d40;
                      border: none;
                      color: white;
                      padding: 20px 70px;
                      text-align: center;
                      text-decoration: none;
                      display: inline-block;
                      font-size: 16px;
                      margin-right: 95px;
                    }
                  .tema-redacao textarea{
                    min-width: 500px;
                    max-width: 500px;
                    min-height: 30px;
                    max-height: 30px;
                    border-color: #930000

                  }
                  .titulo-redacao textarea{
                    min-width: 900px;
                    max-width: 900px;
                    min-height: 40px;
                    max-height: 40px;
                    border-color: #930000
                  }
                  .redacao-corrigida textarea{
                    min-width: 80%;
                    max-width: 80%;
                    min-height: 400px;
                    max-height: 400px;
                   border-color: #930000
                  }
                  .redacao-corrigida{
                    margin-block-start: 50px;
                  }
                  .postar-redacao{
                    text-align: center;
                    width: 100%;
                    margin: 0 auto;
                  }
                  .postar-redacao button{
                      background-color: #df4d40;
                      border: none;
                      color: white;
                      padding: 20px 35px;
                      text-align: center;
                      text-decoration: none;
                      display: inline-block;
                      font-size: 16px;
                      margin-block-start: 50px;
                      margin-left: 35%;
                  }
                  .nome-redacao {
                    color: #000;
                    text-decoration: none;
                    font-size: 15px;
                    margin-block-start: 50px;
                    margin-block-end: 5px;
                    margin-left: 60px;
                    font-family: "Roboto",Arial,sans-serif;
                    font-weight: normal;
                    line-height: 0.2rem;
                    width: 1000px;
                    float: left;
                  }
                  .email-redacao {
                    color: #000;
                    text-decoration: none;
                    font-size: 15px;
                    margin-block-start: 5px;
                    margin-block-end: 5px;
                    margin-left: 60px;
                    font-family: "Roboto",Arial,sans-serif;
                    font-weight: normal;
                    line-height: 0.2rem;
                    width: 1000px;
                    float: left;
                  }
                  .titulo-redacao {
                      color: #000;
                      text-decoration: none;
                      font-size: 15px;
                      margin-block-start: 5px;
                      margin-block-end: 5px;
                      margin-left: 60px;
                      font-family: "Roboto",Arial,sans-serif;
                      font-weight: normal;
                      width: 1000px;
                      float: left;
                  }
                  .tema-redacao {
                    color: #000;
                    text-decoration: none;
                    font-size: 15px;
                    margin-block-start: 5px;
                    margin-block-end: 5px;
                    margin-left: 60px;
                    font-family: "Roboto",Arial,sans-serif;
                    font-weight: normal;
                    line-height: 0.2rem;
                    width: 1000px;
                    float: left;
                  }
                  .arquivo-redacao {
                    color: #000;
                    text-decoration: none;
                    font-size: 15px;
                    margin-block-start: 5px;
                    margin-block-end: 5px;
                    margin-left: 60px;
                    font-family: "Roboto",Arial,sans-serif;
                    font-weight: normal;
                    line-height: 0.2rem;
                    width: 1000px;
                    float: left;
                    border-bottom: 3px solid #930000;
                  }
                  .postar-como input{
                    margin-block-start: 30px;
                    width: 14px;
                    height: 13px;
                  }
                  .postar-como h3{
                    color: #8b8b8b;
                    font-size: 17px;
                    text-transform: uppercase;
                  }